@media (max-width: 575px) {
  .border-top {
      border-top: 1px solid white;
  }
  .border-start {
      border-left: 1px solid white;
  }
  .border-bottom {
      border-bottom: 1px solid white;
  }
  .border-end {
      border-right: 1px solid white;
  }
  .border-top-0 {
      border-top: none!important;
  }
  .border-start-0 {
      border-left: none!important;
  }
  .border-bottom-0 {
      border-bottom: none!important;
  }
  .border-end-0 {
      border-right: none!important;
  }
}

@media (min-width: 576px) {
  .border-sm-top {
      border-top: 1px solid white;
  }
  .border-sm-start {
      border-left: 1px solid white;
  }
  .border-sm-bottom {
      border-bottom: 1px solid white;
  }
  .border-sm-end {
      border-right: 1px solid white;
  }
  .border-sm-top-0 {
      border-top: none!important;
  }
  .border-sm-start-0 {
      border-left: none!important;
  }
  .border-sm-bottom-0 {
      border-bottom: none!important;
  }
  .border-sm-end-0 {
      border-right: none!important;
  }
}

@media (min-width: 768px) {
  .border-md-top {
      border-top: 1px solid white;
  }
  .border-md-start {
      border-left: 1px solid white;
  }
  .border-md-bottom {
      border-bottom: 1px solid white;
  }
  .border-md-end {
      border-right: 1px solid white;
  }
  .border-md-top-0 {
      border-top: none!important;
  }
  .border-md-start-0 {
      border-left: none!important;
  }
  .border-md-bottom-0 {
      border-bottom: none!important;
  }
  .border-md-end-0 {
      border-right: none!important;
  }
}

@media (min-width: 992px) {
  .border-lg-top {
      border-top: 1px solid white;
  }
  .border-lg-start {
      border-left: 1px solid white;
  }
  .border-lg-bottom {
      border-bottom: 1px solid white;
  }
  .border-lg-end {
      border-right: 1px solid white;
  }
  .border-lg-top-0 {
      border-top: none!important;
  }
  .border-lg-start-0 {
      border-left: none!important;
  }
  .border-lg-bottom-0 {
      border-bottom: none!important;
  }
  .border-lg-end-0 {
      border-right: none!important;
  }
}

@media (min-width: 1200px) {
  .border-xl-top {
      border-top: 1px solid white;
  }
  .border-xl-start {
      border-left: 1px solid white;
  }
  .border-xl-bottom {
      border-bottom: 1px solid white;
  }
  .border-xl-end {
      border-right: 1px solid white;
  }
  .border-xl-top-0 {
      border-top: none!important;
  }
  .border-xl-start-0 {
      border-left: none!important;
  }
  .border-xl-bottom-0 {
      border-bottom: none!important;
  }
  .border-xl-end-0 {
      border-right: none!important;
  }
}

a:hover {cursor: pointer}